
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.weather {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  border: 1px solid rgb(236, 236, 236); 
}


.form-control {
  min-width: 0;
  width: 325px !important;
}

.temp {
  font-size: 84px;
  font-weight: 500;
  letter-spacing: -.7px;
  line-height: 1.07;
}
 

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.wcontainer , .error {
  position: absolute;
  left: 34%;
  width: 400px;
  border: 5px solid rgb(87, 92, 87);
  padding: 10px;
  margin: 20px;
  border-radius: 10px;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
